.main-nav {
	display: flex;
	justify-content: right;
	font-size: 1.7rem;
	list-style: none;
	gap: 2rem;
	margin-bottom: 4rem;
	text-transform: uppercase;
}

.main-nav li a {
	cursor: pointer;
	font-weight: 600;
	text-decoration: none;
	color: inherit;
}

.main-nav li:last-child {
	color: green;
}

.main-nav li:hover {
	color: green;
	transition: all 0.03s;
}

.main-nav li:last-child {
	position: relative;
}

.main-nav li:last-child::after {
	content: "";
	position: absolute;
	left: 2px;
	bottom: -7px;
	width: 0%;
	height: 3px;
	background-color: green;
	transition: all 0.4s ease-out;
}

.main-nav li:last-child:hover::after {
	width: 100%;
	left: 2%;
}

h1 {
	text-align: left;
	overflow-wrap: break-word;
	font-size: 4rem;
	font-weight: 400;
	color: #414040;
	margin-bottom: 2rem;
	border-left: 6px solid;
	padding: 2rem;
	border-left: 6px solid;
	line-height: 5rem;
	border-image-source: linear-gradient(
		to bottom,
		#2b9348 20%,
		#80b918 50%,
		#d4d700 100%
	);
	border-image-slice: 2;
}

.container {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fdf8e6;
	width: 100%;
	max-width: 1200px;
	padding: 0 2rem;
	margin: 0 auto;
}

.text-content {
	font-size: 1.8rem;
	flex: 1;
	max-width: 45%;
	text-align: left;
	line-height: 2.5rem;
}

button {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 600;
}

.h1-btn-1,
.h1-btn-2 {
	border-radius: 0.7rem;
	padding: 0.9rem 1.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-right: 2rem;
	cursor: pointer;
	height: 48px;
}

.header-btn {
	margin-top: 3rem;
}

.h1-btn-1 {
	text-align: center;
	border-radius: 0.7rem;
	border-style: none;
	background: linear-gradient(to bottom right, #2b9348, #80b918, #d4d700);
	margin: 8px;
	color: #fff;
}

.h1-btn-1:hover {
	opacity: 80%;
}

.h1-btn-2 {
	padding: 0.5rem 0.5rem;
	border-radius: 0.7rem;
	border: none;
	background-color: transparent;
	background-clip: padding-box;
	position: relative;
	font-size: 1.5rem;
	font-weight: 600;
}

.h1-btn-2:hover {
	text-decoration: underline;
	color: #2b9348;
}

.h1-btn-2::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	padding: 1.5px;
	background: linear-gradient(90deg, #2b9348, #d4d700);
	-webkit-mask: linear-gradient(white, white) content-box,
		linear-gradient(white, white);
	mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.img1 {
	max-width: 40%;
	height: auto;
}

.logo {
	margin-bottom: -6rem;
	max-width: 224.59px;
	height: auto;
}

.container-2 {
	margin-top: 3rem;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	width: 50%;
	padding: 0 2rem;
	margin: 0 auto;
}

.border {
	border-image: linear-gradient(
			to bottom,
			#fff1c6 -10%,
			#fff 50%,
			#fff1c628 -10%
		)
		1;
	border-radius: 5px; /* th) 1;
	border-radius: 5px; /* this doesn't work */
	border-width: 25px;
	border-style: solid;
	padding: 5px;
}

h2,
h3 {
	font-weight: 400;
}

h3 {
	font-size: 2rem;
	margin-bottom: 3rem;
	margin-top: 4rem;
}

h2 {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.text-content-2 {
	font-size: 1.6rem;
	padding: 1rem 13rem;
	margin-bottom: 3rem;
	line-height: 2.5rem;
}

.tick {
	height: 40px;
	width: 4ch;
	padding: 7px;
	margin-bottom: -10px;
	border-color: rgb(44, 33, 33);
	background-color: #faedcd;
	border-radius: 50%;
	margin-right: 8px;
}

.benefits {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	margin-bottom: 4rem;
}

.img-2 {
	width: 50%;
	max-width: 100%;
}

.container-3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	margin: 0 auto;
}

.text-content-3 {
	font-size: 1.8rem;
	flex: 1;
	max-width: 45%;
	text-align: left;
	line-height: 2.5rem;
}

.container-3 h3 {
	margin-top: 1rem;
}

.container-4 h1 {
	border-left: none;
	margin-left: 2rem;
}

.container-4 {
	width: 100%;
	max-width: 100vw;
	min-height: 550px;
	background: linear-gradient(to bottom, #fff 300px, #928d23d4 50px);
	padding: 5rem;
	margin-top: -40px;
}

.container-4 .grid {
	width: 200px;
	row-gap: 9.6rem;
}

.h1 {
	border-left: none;
}

.services {
	width: 100%;
	align-items: start;
	font-size: 1.6rem;
	text-align: left;
	background-color: #fff;
	margin: 0 auto;
	gap: 2rem;
	padding-bottom: 2rem;
}

.service-content h3 {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.service-content {
	line-height: 2.5rem;
}

.container-4 h3:first-child {
	margin-top: -1rem;
}

img.service-img {
	max-width: 100%;
	height: auto;
	margin-left: 0rem;
	margin-bottom: 3rem;
}

img.service-img:first-child {
	width: 367.01px;
	height: 244.61px;
	object-fit: cover;
}

.container-5 {
	width: 100%;
	max-width: 100vw;
	min-height: 250px;
	color: #ffffffdf;
	background-color: #2d2c17;
	padding: 5rem;
	font-size: 1.6rem;
	margin-top: -12px;
	line-height: 2.5rem;
}

.container-5 h1 {
	border-left: none;
	color: #ffffffdf;
	margin-top: -1rem;
	margin-left: -1rem;
}

.container-5 p {
	margin-top: -2rem;
}
.container-5 span {
	color: rgb(242, 198, 38);
	font-weight: 600;
}

.circle {
	position: relative;
	background-color: #2b2a1d;
	overflow: hidden;
}

.circle::before {
	content: "";
	position: absolute;
	top: -500px;
	left: -500px;
	width: 1050px;
	height: 900px;
	background: radial-gradient(circle, rgba(234, 221, 40, 0.483), transparent);
	border-radius: 50%;
	z-index: 1;
}

.container-6 {
	width: 100%;
	max-width: 100vw;
	min-height: 250px;
	padding: 2rem;
	font-size: 1.5rem;
	margin-top: 2rem;
}

.container-6 h2 {
	font-weight: 300;
	color: #878787;
	line-height: -1%;
}

.partners {
	display: flex;
	align-items: center;
}

.partners h2,
h1 {
	font-size: 3rem;
}

.partners h1 {
	margin-top: 0;
}

.plogo {
	/* margin-right: 62px;
	margin-left: 20px; */
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	justify-content: center;
}

.container-7 {
	max-width: 100vw;
	min-height: 500px;
	padding: 2rem;
	background-color: #928c23;
	font-size: 1.5rem;
	margin-top: -12px;
	position: relative;
	padding-top: 105px;
}

.features-section {
	background-color: #fff;
	width: 40rem;
	height: 20rem;
	color: black;
	z-index: 1;
}

.features-section p {
	padding-left: 1rem;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
}

.grid--2-cols {
	width: fit-content;
	gap: 0rem;
	margin-left: 100px;
}

.alt {
	background-color: #ffffff64;
	border: 2px solid #fff;
	color: black;
}

.features-logo {
	width: 6rem;
	height: 6rem;
}

.features-section h3 {
	margin-bottom: -1rem;
	display: flex;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.features-img {
	position: absolute;
	width: 705px;
	height: 408px;
	top: 420px;
	left: 769px;
}

.container-7 h1 {
	transform: translate(1060px, -660px);
	font-weight: 500;
	border-image-source: linear-gradient(to bottom, #fec425 20%, #d33204 50%);
	color: black;
}

.project-img {
	width: 340px;
	height: 240px;
}

.container-8 {
	max-width: 100vw;
	min-height: 500px;
	padding: 2rem;
	font-size: 1.5rem;
	margin-top: 3rem;
	position: relative;
}

.project-location {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 0rem;
	margin-top: 3rem;
}

.project-location h3,
.project-location p {
	font-size: 1.6rem;
	margin-top: 2rem;
	line-height: 0rem;
	margin-bottom: 2.5rem;
}

.project-location p {
	color: #7a7a7a;
}

.project-location h3 {
	color: #d33204;
}

.project-location h2 {
	font-size: 2rem;
	font: "Inter";
	font-weight: 500;
	margin-bottom: 2.5rem;
}

.projects-btn {
	display: flex;
	margin-top: 3rem;
	margin-bottom: 0;
}

a:any-link {
	text-decoration: none;
}

.projects-btn button {
	padding: 1.7rem 2.4rem 1.7rem 2.4rem;
	border: none;
	border-radius: 49px;
	background: none;
	border: 2px solid #084416;
	color: #084416;
	font-weight: 400;
	cursor: pointer;
}

.projects-btn button:hover {
	background: #084416;
	color: #fff;
	transition: all 0.3s;
}

.projects-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.more-projects {
	margin: 0;
	cursor: pointer;
}

.testimonial {
	display: flex;
	align-items: center;
}

.testimonial h2,
h1 {
	font-size: 3rem;
}

.testimonial h1 {
	margin-top: 0;
}

.container-9 {
	width: 100%;
	max-width: 100vw;
	min-height: 250px;
	padding: 2rem;
	font-size: 1.5rem;
	margin-top: -2rem;
}

.container-9 h2 {
	font-weight: 300;
	color: #878787;
	line-height: -1%;
}

.testimonial-section {
	width: 1366px;
	height: 435px;
	display: flex;
	gap: 3rem;
	padding: 12px;
	background-color: #ecf7eb;
	position: relative;
}

.double-quote {
	color: #1e6219;
	font-weight: 700;
	font-size: 100px;
	font-family: cursive;
	font-style: oblique;
	margin-top: 10rem;
}

.testimonial-text {
	line-height: 26.24px;
	margin-left: -1.6rem;
	align-content: center;
}

.testimonial-text h3 {
	margin-bottom: 2rem;
	color: #1e6219;
	font-weight: 500;
	line-height: 28px;
	font-size: 2rem;
}

.testimonial-description {
	margin-bottom: 2rem;
	font-size: 1.6rem;
	font-weight: 400;
}

.testimonial-text span {
	font-weight: 400;
	font-style: italic;
	font-size: 1.6rem;
}

.customer-img {
	max-width: 50%;
	height: auto;
	object-fit: cover;
	margin: 6rem;
	margin-right: 0;
}

.customer-details {
	margin: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.testimonial-img {
	width: 758px;
	height: 498px;
	position: absolute;
	top: 12px;
	left: 923px;
}

.container-10 {
	max-width: 100vw;
	min-height: 500px;
	padding: 2rem;
	font-size: 1.5rem;
	position: relative;
	padding-top: 70px;
	margin-left: -2rem;
}

.awards-header {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5rem;
}

.container-10 h1 {
	border-image-source: linear-gradient(to bottom, #fec425 20%, #d33204 50%);
}

.awards-img {
	width: 322px;
	height: 200px;
	margin-top: -3rem;
}

.awards-by {
	display: flex;
	gap: 4.8rem;
	flex-shrink: 0;
	justify-content: center;
}

.container:last-child {
	width: 100%;
	max-width: 1200px;
	padding: 0 2rem;
	margin-bottom: -4rem;
}

.grid--footer {
	background: none;
	border-top: 16px solid transparent;
	border-image-source: linear-gradient(to right, #fec425, #ffffff);
	border-image-slice: 1;
	position: relative;
}

.footer-list {
	list-style: none;
	display: grid;
	grid-template-columns: max-content;
	gap: 0.5rem;
	margin-top: -2rem;
	font-size: 1.6rem;
}

.footer-list li {
	margin-left: 0rem;
	display: flex;
	align-items: center;
}

.footer-list a {
	color: black;
}

.footer-list a:hover {
	color: #d33204;
	transition: all 0.3s;
	font-weight: 300;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	font-family: sans-serif;
	color: #7a7a7a;
	font-weight: 200;
}

.footer-content h3 {
	font-size: 1.6rem;
}

.logo:last-child {
	max-width: 20%;
	height: auto;
	position: absolute;
}

img.logo {
	top: 10px;
}

.grid--footer p {
	font-size: 1.6rem;
}

.footer-text {
	font-size: 1.4rem;
	line-height: 1.6;
	max-width: 600px;
	text-align: left;
	margin-left: 2rem;
	margin-top: -4rem;
}

.logo-content {
	display: flex;
	align-items: center;
}

.contact-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 6px;
	background-color: #fec42533;
	border-radius: 3rem;
}
